<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Car Details</title>
    <style>

        body{
            display: grid;
            grid-template-columns: 100px 700px 300px 436px;
            grid-template-rows: 100px 610px;
            padding: 0;
            margin: 0;
        }
        .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      top: 0px;
      left: -250px;
      padding-top: 35px;
      background-color: #bebdbd;
      transition: left 0.3s ease;
      z-index: 3;
    }
    
    .sidebar.active {
      left: 0;
    }
    
    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }
    
    .sidebar ul li {
      padding: 20px;
      margin-left: 10px;
      font-size: 18px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .sidebar ul li:hover {
      background-color: #797979;
      transition: 1s;
    }
    
    .menu-toggle {
      position: fixed;
      left: 15px;
      top: 15px;
      cursor: pointer;
      z-index: 4;
    }
    
    .menu-toggle i {
      font-size: 24px;
      color: #fff;
    }
    
    .sub-menu {
      display: none;
    }
    
    .sub-menu.active {
      display: block;
    }
    
    .sub-menu a {
      display: block;
      padding: 10px;
      padding-right: 15px;
      margin-top: 10px;
      border: none;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
    .sidebar ul li a {
      color: white;
      text-decoration: none;
    }
    .sidebar ul li a:hover {
      color:#a09e9e;
      transition: 1s;
    }

    #navbar{
        grid-column: 1/span 4;
        grid-row: 1;
        background-color: #303030;
        text-align: center;
        color: white;
        padding-left: 300px;
        padding-top: 20px;
    }
    #navbar a {
        color: white;
        text-decoration: none;
        margin: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 200; /* Thin weight */
        font-size: 20px; /* You can adjust the font size as needed */
        padding: 30px;
    }

    #img_section{
      grid-column: 1/span 2;
      grid-row: 2;
    }
    #img_section img{
      width: 740px;
      height: 400px;
      position: absolute;
      top: 150px;
      left: 30px;
    }
    #values_section{
      grid-column: 3/span 4;
      grid-row: 2;
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: 30px;
    }
    </style>
    
</head>



<body>
  <div id="navbar">
    <a href="/">Homepage</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a> 
  </div>

    <div class="menu-toggle" onclick="toggleSidebar()">
        <i class="fas fa-bars thin-menu-icon"></i>
      </div>

      <div class="sidebar" id="sidebar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Rent</a></li>
          <li><a href="#">Booking</a></li>
          <li onmouseenter="toggleSubMenu()" onmouseleave="hideSubMenu()">
            <a href="database">Database</a>
            <div class="sub-menu" id="carSubMenu">
                <a>Mitsubishi</a>
                <a>Ford</a>
                <a>Opel</a>
                <a>Nissan</a>
                <a>Toyota</a>
            </div>
          </li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Branches</a></li>
        </ul>
      </div>

      <div id="img_section">
        <img src="" alt="">
      </div>

      <div id="values_section">
        <p><strong>ID:</strong>65e86464f52d2ab8b3e5e0ef</p>
        <p><strong>Brand:</strong>Toyota</p>
        <p><Strong>Model:</Strong>Cressida '83</p>
        <p><Strong>Accessories:</Strong>Air Conditioner, Sterilizer</p>
        <p><Strong>Hand:</Strong>2nd</p>
        <p><Strong>Price:</Strong>390000</p>
      </div>


<script>

function toggleSidebar() {
      var sidebar = document.getElementById("sidebar");
      sidebar.classList.toggle('active');
    }

    function toggleSubMenu() {
      var subMenu = document.getElementById("carSubMenu");
      subMenu.classList.toggle('active');
    }

    function hideSubMenu() {
    var subMenu = document.getElementById("carSubMenu");
    subMenu.classList.remove('active'); // Add inactive class to hide submenu
    subMenu.classList.add('inactive')

    
}



</script>
</body>
</body>
</html>